<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>下订单</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Application/Public/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Public/css/order.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Public/css/basic.css">
</head>
<body>
    <div id="contain">
    	<div id="left">
    		<img src="__ROOT__/Application/Public/img/book.jpg">
    	</div>
    	<div id="right">
    		<div class="name_info">
    			<h1>你那么好看，说什么都对</h1>
    			<div class="sc_info">
    				<span>上传者：<a href="">liuliu</a></span><span>上传时间：2017/10/25</span>
    			</div>
    			<h2>
    				<span class="intro" title="">（宋小君、张轩洋作序推荐，知乎/微博/豆瓣/公众号超会说情话的人气作家、编剧戴日强，铺开整个世界，记录28个关于爱、勇气和成长的故事，教你表白，教你恋爱！献给纯粹的爱情和极致的浪漫！
    				</span>
    			</h2>
    		</div>
    		<div class="order_details">
    			<div class="jifen">
                <span id="jf_pic"><i class="fa fa-align-justify"></i>信誉积分:</span>     
                <span class="jf_sz">50</span>
            </div>
                <p class="addr">收货住址：<input type="text" name=""></p>
                <p class="date">结束日期：<input type="text" name=""></p>
    		</div>
    		<div class="btn">
                <a href="" class="order"><i class="fa fa-shopping-cart"></i>提交订单</a>
    		</div>
    	</div>
    </div>
</body>
</html>