<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索结果</title>
	<link rel="stylesheet" href="__ROOT__/Application/Public/css/index.css">
	<link rel="stylesheet" href="__ROOT__/Application/Public/css/header.css">
	<link rel="stylesheet" href="__ROOT__/Application/Public/css/footer.css">
	<script src="__ROOT__/Application/Public/js/jquery-3.2.1.min.js" charset="utf-8"></script>
</head>

<body>
	<div class="header">
		<div class="page-container">
			<div class="logo">
				<a href="/" title="首页">
				<img src="__ROOT__/Application/Public/img/logo.png" alt="图书共享平台" title="">
			</a>
			</div>

			<div class="search-wrap">
				<img src="__ROOT__/Application/Public/img/search.png" alt="" />
				<form class="search-form" action="" method="post">
					<input type="text" class="search-input">
					<input type="submit" class="search-btn" value="">
				</form>
			</div>
			<div class="login-area">
				<ul>
					<li class="person-center">

						<a href="per_share.html" class=""><img src="__ROOT__/Application/Public/img/personal.png" alt="" /><span>个人中心</span></a>
					</li>
					<li class="login-header">
						<a href="">登录</a> /
						<a href="">注册</a>
					</li>
				</ul>
			</div>
		</div>


	</div>

	<div id="id1" class="bgdiv">

		<div class="tit">
			<p><em>搜索结果</em></p>
		</div>
		<div class="first">
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="book_details.html">查看详情</a>
			</div>
			<div class="item">
				<div class="pic">
					<img src="__ROOT__/Application/Public/img/1.gif" alt="" />
				</div>
				<div class="report">
					lalaallaalalaalla
				</div>
				<div class="pric">
					<p>
						25积分
					</p>
				</div>
				<a class="Btn" href="">查看详情</a>
			</div>
		</div>
	</div>
	
	

	<div class="elevator">
		<div id="question"><img src="img/question.png" alt=""><p>常见问题</p></div>
		<div id="service"><img src="img/service.png" alt=""><p>联系客服</p></div>
		<div id="advice"><img src="img/advice.png" alt=""><p>意见反馈</p></div>
		<div id="top"><img src="img/top.png" alt=""><p>返回顶部</p></div>
	</div>

	<footer>

		<span>©长沙理工大学客户说的队 All rights reserved</span>
	</footer>

	<script src="js/script.js"></script>
	<script src="js/index.js"></script>
	<script src="js/elevator.js"></script>
</body>

</html>
