<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>查看卖家资料</title>
	<link href="__ROOT__/Application/Public/css/font-awesome.css" rel="stylesheet">
  <link href="__ROOT__/Application/Public/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Public/css/look.css">
</head>
<body>

<div id="content">
    <div id="jifen">
        <img src="__ROOT__/Application/Public/img/4.jpg">
        <div class="user_name">
    			<span class="name">鲁班</span>
          <span class="sex"><a href=""><i class="fa fa-mars-stroke"></i></a></span>
          <span class="msg"><a href=""><i class="fa fa-envelope"></i></a></span>
    			<span class="introduction">鲁班大师，智商250。</span>
    		</div>
    	<div class="jf_span">
    	  <span id="jf_pic"><i class="fa fa-align-justify"></i></span> 	
    		<span class="jf_word">信誉积分:</span>
    		<span class="jf_sz">50</span>
    </div>
    </div>
    <div id="sp_on">
   	  <div class="sp_nav">
    	<span>正在上架的商品</span>
      </div>
      <div class="sp_show">
      	<div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
        <div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
        <div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
        <div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
        <div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
        <div class="book">
          <div class="pic">
            <img src="__ROOT__/Application/Public/img/1.jpg">
          </div>
          <div class="details">
            <span class="intro">书名：</span><span class="con">徐庚庚上学记</span>
            <span class="intro">简介：</span><span class="con">这是关于徐庚庚上学过程中遇到的各种奇闻趣事</span>
          </div>
        </div>
      </div>
    </div>
    <div id="upload">
    	<div class="sp_nav">
    		<span>上传记录</span>
    	</div>
    	<div class="sp_show">
    	  <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/2.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">我的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">上传日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/2.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">我的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">上传日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/2.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">我的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">上传日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/2.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">我的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">上传日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>

    	</div>
    </div>
     <div id="borrow">
    	<div class="sp_nav">
    		<span>借阅记录</span>
    	</div>
    	<div class="sp_show">
    	  <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/3.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">ta的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">借阅日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/3.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">ta的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">借阅日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/3.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">ta的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">借阅日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>
           <div class="s_con">
             <div class="left_pic"><img src="__ROOT__/Application/Public/img/3.jpg"></div>
             <div class="right_con">
               <a href="">梦里花落知多少</a>
               <div>
                  <span class="r_one">ta的描述:</span><span class="r_two">梦里花落知多少梦里花落知多少梦里花落知多少</span>
                  <span class="r_one">借阅日期:</span><span class="r_two">2017.9.21 19:58:59</span>
                </div>
             </div>
          </div>

    	</div>
    </div>
</div>
</body>
</html>